---
# 启用的检查项
Checks: 
  -*,                    # 禁用所有默认检查
  readability-*,         # 启用所有可读性检查
  google-*,              # 启用所有Google风格检查
  modernize-*            # 启用所有现代化检查

# 将警告视为错误
WarningsAsErrors: '*'

# 头文件过滤正则表达式
HeaderFilterRegex: '.*'

# 使用.clang-format文件中的格式设置
FormatStyle: file

# 特定检查项的配置选项
CheckOptions:
  # 允许使用 "using namespace std;"
  - key: google-build-using-namespace.CheckNamespaceStd
    value: false